@using MyGuide.Models;

@model List<Destination>

<h3>@Resource.Result</h3>
@if (Model != null)
{
    <div class="searchresult-content">
        @for (var i = 0; i < Model.Count; i++)
        {
        <div class="dest-content">
            <div class="dest-title">@Model[i].Name</div>
            <div class="dest-icon">
                <img class="custom-icon" data-src="@Model[i].IconUrl" width="150" height="90" />
            </div>
            <div class="dest-data">
                @*<div class="dest-desc">@Model[i].Description</div>*@
                <div>
                    <b>@Resource.PlaceLabel:</b> @Model[i].CityName
                </div>
                <div>
                    <b>@Resource.CategoryLabel:</b> @Model[i].CategoryName
                </div>
                <div>
                    <b>@Resource.Popularity:</b> @Model[i].Popularity %
                </div>
            </div>
            <div class="dest-actions">
                @Html.Hidden("itemId-" + i, Model[i].Id)
                <button class="btn btn-default info">@Resource.Info</button>
                <button class="btn btn-default add">@Resource.Add</button>
            </div>
        </div>

        }
    </div>
}

<script>
    // Init images loaded via ajax:
    $(document).ready(function () {
        $(".custom-icon").each(function () {
            var url = $(this).data("src");

            $(this).attr("src", url);
        })
    })
</script>